@media (max-width: 1240px) {
  .expert_card {
    width: 195px;
    .image_card {
      height: 131px;
      img {
        height: 131px;
        border-radius: 36px;
      }
    }
  }

  .expert_card-main {
      .container {
        margin: 40px;
      }
  }

  .icon_card {
    width: 56px;
  }
}

@media (max-width: 767px) {
  .experts_block {
    margin-top: 96px;
  }
}

@media (max-width: 630px) {
  .expert_card-main {
    .container {
      flex-direction: column;
      margin: 40px 16px;
      .description_card {
        margin-left: 0;
        margin-top: 40px;
      }
    }
    .icon_card {
      width: 40px;
      margin: 0 16px 16px 0;
    }
    .description_card {
      .description {
        font-size: 18px;
      }
    }
  }
}

@media  (max-width: 448px) {
  .container_expert_card {
    overflow-x: scroll;
    width: 100%;
  }

  .expert_cards {
    max-width: 320px;
    margin-left: 5px !important;
    flex-wrap: nowrap;
    justify-content: normal;
    gap: 48px;
  }
}

@media (max-width: 350px) {
    .experts_block {
      width: 288px;
    }
}