@use '../Common/Common';

@mixin flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_block,
.banner_container,
.banner_start {
  width: 100%;
}

.banner_block {
  height: 920px
}

.banner_start {
  display: flex;
  position: relative;
}

.banner_header {
  @include flex();
  width: 100%;
  max-width: 488px;
  height: 788px;
  border: 1px solid #DBE3F0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
  .special {
    font-family: "Futura PT", sans-serif;
    display: flex;
    font-size: 20px;
    color: Common.$grey-blue-light;
    font-weight: 500;
    margin: 0;
    img {
      margin: 0 8px;
      height: 24px;
      width: 20px;
    }
  }
  p {
    color: Common.$grey-blue;
    font-family: "Futura PT", sans-serif;
    font-weight: 400;
    text-align: center;
  }
}

.ready_description {
  margin-bottom: 48px;
  font-size: 20px;
}

.banner_image {
  overflow: hidden;
  height: 741px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .banner_img {
    position: absolute;
    z-index: -1;
    top: 120px;
    animation: image 600ms ease-out;
  }
  .logo {
    position: absolute;
    cursor: pointer;
  }
}

@media (min-width: 980px) {
  .animation_banner {
    position: relative;
    width: 690px;
    left: 35px;
    top: 51px;
    background-color: white;
    animation: banner 600ms ease-out;
  }

  .banner_image {
    margin-top: 64px;
  }

  .banner_header,
  .logo {
    animation: block 600ms ease-out;
  }

  @keyframes block {
    20% {
      transform: translate(0, -32px);
      opacity: 0;
    }
    60% {
      transform: translate(0, -32px);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 100%;
    }
  }

  @keyframes banner {
    from {
      height: 100%;
    }
    to {
      height: 0;
      opacity: 0;
      display: none;
    }
  }

  @keyframes image {
    from {
      transform: translate(0, -32px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 100%;
    }
  }
}

.banner_title {
  @include flex();
  margin: 96px 32px 0;
  h1 {
    color: Common.$dark-blue;
    margin: 24px 0;
    font-family: 'Futura PT-Cond', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
  }
}

.banner_more, .more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  margin: 12px 0 23px 0;
  font-size: 18px;
}

.more {
  cursor: pointer;
  z-index: 1;
  position: relative;
  top: 60px;
  font-size: 20px;
  p {
    font-family: "Futura PT-Demi", sans-serif;
    font-weight: 500;
    margin: 0 0 3px 0;
  }
}

.more {
  img {
    animation-delay: 600ms;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-name: more;
    position: relative;
  }
}

@keyframes more {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    top: 10px;
    opacity: 100%;
  }
}