@media (max-width: 979px) {
  .banner_header {
    max-width: 640px;
    height: 716px;
    .special {
      margin-top: 32px;
    }
  }

  .banner_block {
    height: 100%;
  }

  .animation_banner {
    display: none;
  }

  .banner_title {
    margin: 96px 48px 0;
    .ready_description {
      margin-top: 0;
      max-width: 394px;
    }
    .ready {
      max-width: 740px;
    }
  }

  .banner_test_go {
    .time {
      margin-bottom: 4px;
    }
    button {
      max-width: 398px;
    }
  }

  .banner_start {
    align-items: center;
    flex-direction: column;
  }

  .banner_image {
    align-items: center;
    height: 522px;
    .banner_img {
      width: 832px;
      top: 323px;
    }
    .logo {
      height: 56px;
      top: 35px;
    }
  }
}

@media (max-width: 767px) {
  .banner_header {
    position: relative;
  }

  .banner_title {
    .special,
    .ready_description {
      font-size: 18px;
    }
    .ready {
      font-size: 44px;
    }
  }

  .banner_more {
    position: absolute;
    bottom: 0;
    .more {
      p {
        font-size: 18px;
      }
    }
  }

  .banner_image {
    align-items: center;
    height: 270px;
    .banner_img {
      width: 600px;
      top: 259px;
    }
    .logo {
      height: 56px;
      top: 11px;
    }
  }
}

@media (max-width: 500px) {
  .banner_title {
    margin: 96px 17px 0;
  }

  .banner_more {
      .more_img {
        width: 372px;
      }
    .more {
      top: 50px;
    }
  }
}

@media (max-width: 400px) {
  .banner_more {
    .more_img {
      width: 272px;
    }
  }
}