@media (max-width: 979px) {
  .partner_cards {
    width: 489px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .partner_container {
    img {
      width: 35%;
      margin: 0;
    }
  }

  .partner_block {
    margin: 32px;
  }
}

@media (max-width: 767px) {
  .partner_block {
    margin: 0;
  }

  .partner_container {
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 520px) {
  .partner_container {
    .partner_cards {
      width: 390px;
    }
  }
}

@media (max-width: 400px) {
  .partner_container {
    .partner_cards {
      width: 290px;
    }
  }
}