@use '../Common/Common';

.advantages_block {
  margin-top: 144px;
  background-color: #F9FAFD;
  width: 100%;
}

.advantages_container {
  margin: 144px 0;
}

.title_adv {
  text-align: center;
  margin-bottom: 80px;
  .advantages_title {
    margin: 0 0 24px;
    font-family: 'Futura PT-Demi', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.1px;
    color: Common.$dark-blue;
  }
  .advantages_description {
    margin: 0;
    font-family: 'Futura PT', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05px;
    color: Common.$grey-blue;
  }
}

.cards_container-adv {
  display: flex;
  width: 100%;
  gap: 24px;
}

.card-adv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border: 1px solid #DBE3F0;
  border-radius: 20px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.06);
  padding: 40px 40px 72px 40px;
  p {
    font-family: 'Futura PT-Demi', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05px;
    text-align: center;
  }
}