@use "Banner";

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/Futura PT_Book.woff2");
}

@font-face {
  font-family: "Futura PT-Demi";
  src: url("../fonts/Futura PT_Demi.woff2");
}

@font-face {
  font-family: "Futura PT-Cond";
  src: url("../fonts/Futura PT_Cond Medium.woff2");
}

html, body {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.h1 {
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
}

.h2 {
  font-family: "Futura PT-Demi", sans-serif;
  font-size: 40px;
}

.h3 {
  font-family: "Futura PT-Cond", sans-serif;
  font-weight: 400;
  font-size: 64px;
}